---
layout: default
title: Blog
---

<div class="page-cover d-flex flex-column justify-content-center border-bottom p-4 p-sm-5">
    <h1 class="page-title text-center">
        Blog
    </h1>
    <p>Yeni şeyler öğrenmeyi çok seviyorum. Bunun için motivasyon kaynağım, öğrendiklerimi başka insanlara aktarmak.
        Herkesin öğrenme ve öğretme yöntemi elbette farklılık gösterebilir ancak resmi bir dille yazılan yazıların
        öğretme gayesinden uzak kaldığını, samimi bir dil katılırsa daha hoş olduğunu düşünüyorum. Bu uğurda nacizane
        bir şeyler paylaşıyor olacağım. Çok sevdiğim şu sözü paylaşmak istiyorum:
    </p>
    <blockquote>
        <p class="text-center">
            Bir mum, diğer mumu tutuşturmakla ışığından bir şey kaybetmez.<br>
            <strong>Mevlana Celaleddin Rumi</strong>
        </p>
    </blockquote>
    <div class="scroll-arrow">
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
    </div>
</div>

<div class="page-content p-4 p-sm-5">

    <!-- Categories- Start -->
    <div class="post-categories">
        {% for category in site.categories %}        
        <!-- Category - Start -->
        <div class="post-category">
            <!-- Category Header - Start -->
            <div class="post-category-header bg-color-{{ category[0] | downcase }}" href="">
                <!-- Category Title - Start -->
                <h2 class="post-category-header-title">
                    {% if category[0] != "cpp" %}
                    {{ category[0] | capitalize }}
                    {% else %}
                    C++
                    {% endif %}
                </h2>
                <!-- Category Title - End -->
                <!-- Category Icon - Start -->
                <img class="post-category-header-img"
                    src="/assets/img/post-category-logos/{{ category[0] | downcase }}-logo.svg" alt="">
                <!-- Category Icon - End -->
            </div>
            <!-- Category Header - End -->

            <!-- Category Posts - Start -->
            <ul class="post-list">
                {% for post in category[1] %}
                <!-- Post - Start -->
                <li class="post">
                    <!-- Post Title - Start -->
                    <a href="{{ post.url }}" class="post-title">
                        {{ post.title }}
                    </a>
                    <!-- Post Title - End -->
                    <hr class="post-divider">
                    <!-- Post Date - Start -->
                    <span class="post-date">
                        {% assign m = post.date | date: "%-m" %}
                    {{ post.date | date: "%d" }}
                    {% case m %}
                    {% when '1' %}Oca
                    {% when '2' %}Şub
                    {% when '3' %}Mar
                    {% when '4' %}Nis
                    {% when '5' %}May
                    {% when '6' %}Haz
                    {% when '7' %}Tem
                    {% when '8' %}Ağu
                    {% when '9' %}Eyl
                    {% when '10' %}Eki
                    {% when '11' %}Kas
                    {% when '12' %}Ara
                    {% endcase %}
                    {{ post.date | date: "%Y" }}
                    </span>
                    <!-- Post Date - End -->
                </li>
                <!-- Post - End -->
                {% endfor %}
            </ul>
            <!-- Category Posts - End -->
        </div>
        <!-- Category - End -->
        {% endfor %}
    </div>
    <!-- Categories- Start -->

</div>