---
layout: default
title: Projeler
---

<div class="page-cover d-flex flex-column justify-content-center p-4 p-sm-5">
    <h1 class="page-title text-center">
        Projeler
    </h1>
    <p>Yaptığım projeleri, son yaptığımdan ilk yaptığıma doğru görebilirsiniz. Her birini <a
            href="https://github.com/{{ site.github_username }}">Github</a>'ımda saklıyor olacağım. Bazı projelerde
        aslına uygul bırakmak istedim, bazılarında ise
        farklı teknolojileri entegre ettiğimden odak noktam orası oldu. Ancak kod kalitemin git gide iyileştiğini
        düşünüyorum. Projelerin yayınlanmış linklerini ve kullandığım teknolojileri bu sayfada görebilirsiniz.</p>
    <div class="scroll-arrow">
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
    </div>
</div>

<div class="page-content p-4 p-sm-5">
    <ul class="projects">
        {% for project in site.data.projects %}
        <li class="project">
            <img src="{{ project.img }}" alt="" class="project-img">
            <div class="project-content">
                <a href="{{ project.github-link }}" class="project-github">
                    <i class="fab fa-github"></i>
                </a>
                <a class="project-title" href="{{ project.link }}">{{ project.title }}</a>
                <p class="project-desc">
                    {{ project.desc }} ({{ project.date }})
                </p>
                <ul class="project-tags">
                    {% for tag in project.tags %}
                    <li class="tag bg-color-{{ tag | downcase }}">{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>