<footer class="site-footer py-4 px-3">
    <h6 class="copyright">Kendim kodladığım bu temayı indirip gönül rahatlığıyla kendi sitenizde kullanabilirsiniz.
        Benimle irtibata geçmek isterseniz de mesaj göndermekten çekinmeyin.</h6>
    <div class="social-media">
        <ul class="social-media-items">
            <li class="social-media-item">
                <a class="social-media-link" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li class="social-media-item">
                <a class="social-media-link" href="https://github.com/{{ site.github_username }}">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li class="social-media-item">
                <a class="social-media-link" href="https://twitter.com/{{ site.twitter_username }}">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>