<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="desription" content="{{ site.description }}">
<title>{{ site.title }}</title>
<script src="https://kit.fontawesome.com/1657b9e340.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/pecita" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">

<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />

{% include twitter-cards.html %}