<!-- Twitter Cards - Start -->
<meta name="twitter:site" content="@{{ site.twitter_username }}">
<meta name="twitter:creator" content="@{{ site.twitter_username }}">
<meta name="twitter:title" content="{{ page.title }}">

{% if page.summary %}
<meta name="twitter:description" content="{{ page.summary }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.categories %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://{{ site.url }}/assets/img/twitter-card/{{ page.categories }}.png">
{% else %}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="https://{{ site.url }}/{{ site.title_image }}">
{% endif %}
<!-- Twitter Cards - End -->

<!-- Open Graph - Start -->
<meta property="og:url" content="http://bits.blogs.nytimes.com/2011/12/08/a-twitter-for-my-sister/" />
<meta property="og:title" content="{{ page.title }}" />


{% if page.summary %}
<meta name="og:description" content="{{ page.summary }}">
{% else %}
<meta name="og:description" content="{{ site.description }}">
{% endif %}

{% if page.categories %}
<meta property="og:image"
content="https://{{ site.url }}/assets/img/twitter-card/{{ page.categories }}.png" />
{% else %}
<meta property="og:image"
content="https://{{ site.url }}/{{ site.title_image }}" />
{% endif %}
<!-- Open Graph - End -->