html {
  font-family: "Roboto" !important;
  font-size: 16px !important;
}

nav {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  margin: 0 0 40px;
}

h2 {
  display: block;
  font-size: 2rem;
  margin-top: 60px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.5rem;
  margin-top: 50px;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1.17rem;
  margin-top: 40px;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 1rem;
  margin-top: 30px;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: 0.9rem;
  margin: 1rem 0 1rem;
  text-align: center;
}

p {
  text-align: justify;
  line-height: 1.6rem;
  margin: 0  0 20px 0;
}

h2+p, h3+p, h4+p, h5+p, h6+p {
  margin: 10px 0 20px;
}

blockquote {
  border-left: 5px solid #3984ff;
  border-radius: 5px;
  background-color: #f5f7f9;
  margin: 20px 0;
  width: 100%;
  overflow: hidden;
  padding: 30px 40px;

  p:last-of-type{
    margin-bottom: 0;
  }

  // p {
  //   margin-right: 30px;
  //   margin-left: 30px;
  //   margin-top: 20px;
  // }
}

strong {
  font-weight: 600;
}

span {
  display: inline;
}

a:not(.nav-link):not(.navbar-brand):not(.warning-link):not(.project-github){
  color: rgb(58, 134, 255);
  border-bottom: 2px solid;
  font-weight: 500;
  padding-bottom: 1px;

  &:hover {
    color: black;
    text-decoration: none;
    border-bottom-color: black;
    transition-duration: 300ms;
  }
}

.navbar-brand{
  background-color: black !important;

  &:hover {
    background-color: rgb(58, 134, 255) !important;
  }
} 

img {
  display: block;
  margin: 0 auto;
}

ol, ul:not(.post-list):not(.navbar-nav):not(.social-media-items):not(.timeline):not(.project-tags):not(.projects) {
	list-style: inside;
  margin-left: 30px;
}

iframe {
  display: block;
  margin: 0 auto;
}

hr {
  border: 0;
  border-top: 1px solid #dadce0;
  margin: 8px 0;
}

code {
  padding: 3px 8px;
  font-weight: 500;
  background-color: #fbdb65;
  color: black;
  border-radius: 6px;
}


pre {
  padding: 10px;
  margin: 0 0 30px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.025);
  font-size: 0.92rem;
  line-height: 1.3rem;

  & * {
      background-color: rgba(0, 0, 0, 0);
  }

  code {
    padding: 0;
  }

  .lineno {
      border-radius: 0;
      border-right: 1px solid black;
      margin: 0;
  }

  overflow-x: auto;
}