@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/************* 1 - Colors *************/
.clr-blue {
  color: #4867ff;
}

.bg-color-blue {
  background-color: #4867ff;
}

.clr-dgray {
  color: #262728 !important;
}

.clr-ubuntu {
  color: #f02e00 !important;
}

.bg-color-ubuntu {
  background-color: #f02e00 !important;
  color: white !important;
}

.clr-python {
  color: #3872a1 !important;
}

.bg-color-python {
  background-color: #3872a1 !important;
  color: white !important;
}

.clr-git {
  color: #fc8363 !important;
}

.bg-color-git {
  background-color: #fc8363 !important;
  color: white !important;
}

.clr-cpp,
.clr-css {
  color: #0086d4 !important;
}

.bg-color-cpp,
.bg-color-css {
  background-color: #0086d4 !important;
  color: white !important;
}

.clr-html {
  color: #e44d26 !important;
}

.bg-color-html {
  background-color: #e44d26 !important;
  color: white !important;
}

.clr-javascript {
  color: #f7df1e !important;
}

.bg-color-javascript {
  background-color: #f7df1e !important;
  color: white !important;
}

.clr-bootstrap {
  color: #673ab7 !important;
}

.bg-color-bootstrap {
  background-color: #673ab7 !important;
  color: white !important;
}

.clr-sass {
  color: #c69 !important;
}

.bg-color-sass {
  background-color: #c69 !important;
  color: white !important;
}

.clr-bem {
  color: black !important;
}

.bg-color-bem {
  background-color: black;
  color: white;
}

.clr-react {
  color: #61dafb !important;
}

.bg-color-react {
  background-color: #61dafb;
  color: white;
}

/************* 2 - Font Size *************/
.fw-500 {
  font-weight: 500 !important;
}

.px-90px {
  padding-left: 90px;
  padding-right: 90px;
}

html {
  font-family: "Roboto" !important;
  font-size: 16px !important;
}

nav {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  margin: 0 0 40px;
}

h2 {
  display: block;
  font-size: 2rem;
  margin-top: 60px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.5rem;
  margin-top: 50px;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1.17rem;
  margin-top: 40px;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 1rem;
  margin-top: 30px;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: 0.9rem;
  margin: 1rem 0 1rem;
  text-align: center;
}

p {
  text-align: justify;
  line-height: 1.6rem;
  margin: 0  0 20px 0;
}

h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin: 10px 0 20px;
}

blockquote {
  border-left: 5px solid #3984ff;
  border-radius: 5px;
  background-color: #f5f7f9;
  margin: 20px 0;
  width: 100%;
  overflow: hidden;
  padding: 30px 40px;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

strong {
  font-weight: 600;
}

span {
  display: inline;
}

a:not(.nav-link):not(.navbar-brand):not(.warning-link):not(.project-github) {
  color: #3a86ff;
  border-bottom: 2px solid;
  font-weight: 500;
  padding-bottom: 1px;
}

a:not(.nav-link):not(.navbar-brand):not(.warning-link):not(.project-github):hover {
  color: black;
  text-decoration: none;
  border-bottom-color: black;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.navbar-brand:hover {
  background-color: #3a86ff !important;
}

img {
  display: block;
  margin: 0 auto;
}

ol, ul:not(.post-list):not(.navbar-nav):not(.social-media-items):not(.timeline):not(.project-tags):not(.projects) {
  list-style: inside;
  margin-left: 30px;
}

iframe {
  display: block;
  margin: 0 auto;
}

hr {
  border: 0;
  border-top: 1px solid #dadce0;
  margin: 8px 0;
}

code {
  padding: 3px 8px;
  font-weight: 500;
  background-color: #fbdb65;
  color: black;
  border-radius: 6px;
}

pre {
  padding: 10px;
  margin: 0 0 30px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.025);
  font-size: 0.92rem;
  line-height: 1.3rem;
  overflow-x: auto;
}

pre * {
  background-color: rgba(0, 0, 0, 0);
}

pre code {
  padding: 0;
}

pre .lineno {
  border-radius: 0;
  border-right: 1px solid black;
  margin: 0;
}

.scroll-arrow {
  position: absolute;
  z-index: -1;
  margin: 30px auto 0;
  position: relative;
  width: 34px;
  height: 34px;
}

.arrow {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5);
  -webkit-animation: move 3s ease-out infinite;
          animation: move 3s ease-out infinite;
}

.arrow:first-child {
  -webkit-animation: move 3s ease-out 1s infinite;
          animation: move 3s ease-out 1s infinite;
}

.arrow:nth-child(2) {
  -webkit-animation: move 3s ease-out 2s infinite;
          animation: move 3s ease-out 2s infinite;
}

.arrow:before, .arrow:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: black;
}

.arrow:before {
  left: 0;
  -webkit-transform: skew(0deg, 30deg);
          transform: skew(0deg, 30deg);
}

.arrow:after {
  right: 0;
  width: 50%;
  -webkit-transform: skew(0deg, -30deg);
          transform: skew(0deg, -30deg);
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@-webkit-keyframes pulse {
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight, .highlight .w {
  color: #444444;
}

.highlight .cp {
  color: #CC00A3;
}

.highlight .cs {
  color: #CC00A3;
}

.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1 {
  color: #FF0000;
}

.highlight .kc {
  color: #C34E00;
}

.highlight .kd {
  color: #0000FF;
}

.highlight .kr {
  color: #007575;
}

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kt, .highlight .kv {
  color: #0000FF;
}

.highlight .s, .highlight .sa, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
  color: #009C00;
}

.highlight .nb, .highlight .bp {
  color: #C34E00;
}

.functions-table {
  text-align: center;
}

.functions-table > thead > tr > th {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.functions-table > tbody {
  border: 1px solid #ccc;
}

.functions-table > tbody td {
  border: 1px solid #ccc;
}

.nav-link:hover {
  border-bottom: 3px solid #3a86ff;
  padding: 7px;
}

.site-main {
  max-width: 1000px;
  margin-top: 65px;
}

.site-main .page-cover {
  min-height: calc(100vh - 65px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.site-main .page-cover .post-title {
  font-size: 3.5rem;
  font-weight: 600;
}

.site-main .page-cover .post-info {
  margin-top: 20px;
}

.site-main .page-content {
  padding: 50px 50px 100px;
}

.site-main .page-content .warning {
  padding: 20px 25px;
  background-color: red;
  border-radius: 10px;
  margin-bottom: 30px;
  color: white;
  list-style: 1.5rem;
}

.site-main .page-content .warning p {
  margin: 0;
}

.site-main .page-content .warning .warning-link {
  color: black !important;
}

.site-main .page-content .warning .warning-link:hover {
  border-bottom: 2px solid;
  text-decoration: none;
}

.site-main .page-content img {
  width: 100%;
  margin-top: 30px;
}

.site-main .page-content .post-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-main .page-content .post-categories .post-category {
  width: 100%;
  margin-bottom: 40px;
}

.site-main .page-content .post-categories .post-category-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  height: 70px;
  margin-bottom: 10px;
  color: white;
}

.site-main .page-content .post-categories .post-category-header-title {
  font-size: 1.5rem;
  margin: 0 10px;
}

.site-main .page-content .post-categories .post-category-header-img {
  height: 100%;
  width: 60px;
  margin: 0 10px;
}

.site-main .page-content .post-categories .post-category .post-list {
  margin-top: 20px;
}

.site-main .page-content .post-categories .post-category .post-list .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.site-main .page-content .post-categories .post-category .post-list .post-title {
  margin-right: 10px;
}

.site-main .page-content .post-categories .post-category .post-list .post-divider {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.site-main .page-content .post-categories .post-category .post-list .post-date {
  margin-left: 10px;
}

.site-main .page-content .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-main .page-content .projects .project {
  display: block;
  position: relative;
  margin-bottom: 20px;
  min-height: 200px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #dadce0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-main .page-content .projects .project-img {
  max-width: 430px;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid #dadce0;
  margin: 0;
  display: block;
}

.site-main .page-content .projects .project-content {
  max-width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 30px;
}

.site-main .page-content .projects .project-content .project-github {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.5rem;
  border-bottom-right-radius: 10px;
  width: 200px;
  height: 200px;
  background-color: black;
  -webkit-clip-path: polygon(100% 70%, 70% 100%, 100% 100%);
          clip-path: polygon(100% 70%, 70% 100%, 100% 100%);
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.site-main .page-content .projects .project-content .project-github svg {
  color: white;
  margin: 0 5px 6px 0;
}

.site-main .page-content .projects .project-content .project-title {
  font-size: 1.4rem;
  padding-bottom: 3px;
  border: 0;
}

.site-main .page-content .projects .project-content .project-title:hover {
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.site-main .page-content .projects .project-content .project-tags {
  -ms-grid-column-align: left;
      justify-self: left;
}

.site-main .page-content .projects .project-content .project-desc {
  margin-top: 15px;
  margin-bottom: 15px;
}

.site-main .page-content .cv {
  width: 100%;
  padding: 10px 0;
}

.site-main .page-content .cv-download {
  background-color: #eaebee;
  display: block;
  border: 0;
  border-radius: 10px;
  padding: 5px;
}

.site-main .page-content .cv .person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.site-main .page-content .cv .person-info .profile-photo {
  width: 200px;
  border-radius: 100%;
}

.site-main .page-content .cv .person-info .name {
  margin-top: 15px;
}

.site-main .page-content .cv .person-info .university,
.site-main .page-content .cv .person-info .university-departmant {
  margin-top: 5px;
}

.site-main .page-content .cv .section {
  width: 100%;
}

.site-main .page-content .cv .section h4 {
  text-align: start;
}

.site-main .page-content .cv .section .techs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
}

.site-main .page-content .cv .section .techs .tech {
  margin: 0 5px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-main .page-content .cv .section .techs .tech:hover {
  -webkit-transition: 300ms background-color;
  transition: 300ms background-color;
  background-color: #e9eaec;
  border-radius: 100%;
}

.site-main .page-content .cv .section .timeline {
  margin-top: 40px;
}

.site-main .page-content .cv .section .timeline-event {
  margin: 0 0 42px 100px;
  position: relative;
}

.site-main .page-content .cv .section .timeline-event-circle {
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 90%;
  border: 3px solid red;
  position: absolute;
  left: -51px;
  top: -1px;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.site-main .page-content .cv .section .timeline-event-circle:hover {
  background-color: red;
}

.site-main .page-content .cv .section .timeline-event::before {
  content: '';
  width: 3px;
  height: 100%;
  position: absolute;
  background-color: black;
  left: -40px;
  top: 32px;
}

.site-main .page-content .cv .section .timeline-event-date {
  position: absolute;
  left: -100px;
  top: 4px;
}

.site-main .page-content .cv .section .timeline-event-content img {
  width: 60%;
}

.tag {
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 6px;
  margin: 3px 1px;
}

.site-footer {
  position: fixed;
  max-width: 1000px;
  margin: 0 auto;
  bottom: 0px;
  right: 48px;
}

.site-footer .copyright {
  display: none;
}

.site-footer .social-media .social-media-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-footer .social-media .social-media-items .social-media-item {
  font-size: 1.8rem;
  margin: 0 5px;
}

.site-footer .social-media .social-media-items .social-media-item .social-media-link {
  color: black;
  border: 0;
}

.site-footer .social-media .social-media-items .social-media-item .social-media-link:hover {
  color: #4867ff;
}

@media screen and (max-width: 1250px) {
  .site-footer {
    position: static;
    border: 1px solid #dee2e6;
  }
  .site-footer .copyright {
    display: block !important;
  }
  .site-footer .social-media {
    display: block;
  }
  .site-footer .social-media-items {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .site-footer .social-media-item {
    font-size: 2.1rem !important;
  }
}

@media screen and (max-width: 900px) {
  body {
    background-color: red;
  }
  .project {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .project-img {
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 10px !important;
    border-bottom: 1px solid #dee2e6;
  }
}

@media screen and (max-width: 780px) {
  .profile-photo {
    width: 150px !important;
  }
  .index-title {
    font-size: 9vw;
  }
}

@media screen and (max-width: 750px) {
  .site-footer {
    position: static;
    bottom: 10;
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  html {
    font-size: 13px !important;
  }
}
/*# sourceMappingURL=main.css.map */