--- 
--- 

@import url(https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu:300,400,700);

$logo-rengi:blue;
$link-rengi: #737373;
$normal-metin-rengi: #0c0c0d;
$alt-metin-rengi: #737373;
$baslik-rengi: #202020;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
}

img {
    display: block;
    margin: 30px auto 40px;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $link-rengi;

    &:hover {
        color: black;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5 {
    color: $baslik-rengi;
    font-weight: 700;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 15px;
}

h2 {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

h3 {
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 1.4em;
}

h4 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 1.3em;
}

h5 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 1.12em;
}

h6 {
    margin: 0 auto 50px auto;
    font-weight: 400;
    font-size: 1rem;
    color: $alt-metin-rengi;
    text-align: center;
    border-radius: 15px;
    width: fit-content;
}

li {
    margin-left: 20px;
}

ul {
    margin-bottom: 20px;
}

blockquote {
    border-top: 1px solid $alt-metin-rengi;
    border-bottom: 1px solid $alt-metin-rengi;
    padding: 1.2em 0 1em;
    margin: 40px 0;
    position: relative;

    p {
        margin-bottom: 0;
    }

    &:before {
        content: '\201C';
        position: absolute;
        top: -0.1em;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        width: 3rem;
        height: 2rem;
        font: 6em/1.08em 'PT Sans', sans-serif;
        color: #666;
        text-align: center;
    }
}

hr {
    border: 0px;
    border-top: 12px dotted $alt-metin-rengi;
    width: 100px;
    height: 1px;
    margin: 90px auto;
}

pre {
    padding: 10px;
    margin: 0 0 30px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.025);
    font-size: 0.92rem;
    line-height: 1.2rem;

    & * {
        background-color: rgba(0, 0, 0, 0);
    }

    .lineno {
        border-radius: 0;
        border-right: 1px solid black;
        margin: 0;
    }

    overflow-x: auto;
}

/* ` ` */
code.language-plaintext {
    font-size: 1rem;
    padding: 2px 4px;
    background-color: black;
    color: white;
    border-radius: 3px;
}


.copyright-alert {
    width: 100%;
    height: fit-content;
    padding: 10px;
    border-radius: 8px;
    font-weight: 700;
    color: white;
    background-color: rgba(255, 0, 0, 0.781);
    text-align: center;
    margin-bottom: 30px;

    a {
        color: black;
        text-decoration: underline;
    }
}

.wrapper {
    font-family: 'Quicksand', sans-serif;
    height: fit-content;
    padding: 50px 5% 5% 5%;
    margin: 0px auto;
    font-size: 1rem;

    header {
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 20px;

        nav {
            text-align: center;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .logo {
                line-height: 0.60em;
                font-family: "Pecita";
                font-size: 4rem;
                font-weight: 700;
            }

            .menu {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                border-top: 1px solid rgba(8, 8, 11, 0.15);
                border-bottom: 1px solid rgba(8, 8, 11, 0.15);
                font-size: 1.2rem;
                padding: 10px 0px;
                margin-top: 30px;
                width: 100%;

                li {
                    list-style: none;
                    margin: 0 25px;
                }
            }
        }
    }

    main > article {
        margin: 20px 0 30px;
        padding-bottom: 65px;
        border-bottom: 1px solid $link-rengi;


        & > p {
            line-height: 32px;
            margin-bottom: 20px;
            text-align: justify;
            hyphens: auto;
        }

        
        .post-img {
            display: block;
            margin: 0 auto 40px auto;
            height: 350px;
        }

        .tags {
            .tag {
                margin-bottom: 20px;
                border-bottom: 1px solid black;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                font-size: 150%;
                color: $alt-metin-rengi;

                p {
                    height: 30px;
                    margin-bottom: 10px;
                }

                .tag-icon {
                    color: gray;
                    font-size: 1.5em;
                    margin-bottom: 5px;
                    align-self: flex-end;
                }
            }

            .posts {
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;

                .post {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 5px;
                    .post-name {
                        margin-right: 2px;
                        width: fit-content;
                    }

                    .name-date-line {
                        overflow: hidden;
                        height: 30px;
                        color: #737373;
                        margin: 0 5px;
                        flex: 1;
                    }

                    .post-date {
                        margin-left: 6px;
                        color: $link-rengi;
                        flex-shrink: 0;
                    }
                }
            }
        }

        .author {
            margin: 0 auto;
            width: 85%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            img {
                margin: 0 auto 20px;
                border-radius: 50%; 
                shape-outside: circle();
                width: 170px;
            }
    
            p {
                padding-top: 4px;
            }
        }



        .iframe-container {
            overflow: hidden;
            padding-top: 56.25%; /* 16:9*/
            position: relative;

            margin-bottom: 30px;
        }
        
        .iframe-container iframe {
            border: 0;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .seri-sozlugu {
            display: none;
        }

        .dict-table {
            width: 200%;
            margin-left: -50%;
        }

        .table-input {
            width: 50%;
            margin: 70px auto 30px;
            border: 0;

            input {
                outline: none;
            }
        }

        .results tr[visible='false'],
        .no-result{
            display:none;
            color: red;
        }

        .results tr[visible='true']{
            display:table-row;
        }

        .counter{
            padding:8px; 
            color:#ccc;
        }

    }

    footer {
        text-align: center;
        color: $normal-metin-rengi;
        font-size: 0.91rem;
        margin-bottom: 50px;
        line-height: 18px;
        
        .social-links {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

        li {
            list-style: none;
            margin: 0px 10px;
        }

        p {
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 465px) {
    .wrapper {
        header {
            nav {
                .menu {
                    flex-direction: column;
                }
            }
        }
    }

    .name-date-line {
        display: none;
    }
}

/* Telefon & Tablet */
@media only screen and (min-width: 466px) and (max-width: 960px) {
    .wrapper {
        header {
            nav {
                .menu {
                    li {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}


/* Bilgisayar */
@media only screen and (min-width: 961px) {
    html {
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
        font-size: 18px;
    }

    body {
        padding: 0 2.5%;

    }

    .wrapper {
        max-width: 700px;
        margin: 0 auto;
        padding: 50px 0;
        font-size: 1rem;


        position: relative;

        header {
            nav {
                width: 100%;
                .logo {
                    font-size: 4.5em;
                }
                .menu {
                    margin-top: 40px;
                }
            }
        }

        main > article {
            .author {
                margin: 0 auto;
                width: 85%;
                text-align: start;

                display: block;
                img {
                    float: left;
                    margin: 5px 70px 0 0;
                }
        
                p {
                    padding-top: 4px;
                }
            }
            
            .seri-sozlugu {
                display: initial;
            }

            .toc-wrapper {

                display: none;
            }
        }
    }    
}

@media only screen and (min-width: 1500px) {
    .wrapper {
        main > article {
            .toc-wrapper {
                display: initial;
                position: absolute;
                padding-top: 30px;
                top: 300px;
                right: -400px;
                width: 300px;
                height: calc(100% - 10%);

                .sticky {
                    position: sticky;
                    top: 0;
                    width: 300px;
                    height: fit-content;
                    padding: 50px 0 0 30px;
                    font-size: 0.9rem;
                    color: $link-rengi;

                    #table-of-contents {
                        margin: 10px 0;
                        width: 100%;
                        border-left: 1px solid rgb(214, 211, 211);
                        ul {
                            margin-bottom: 0;
                            li {
                                list-style: none;
                
                                a.active {
                                    font-weight: bold;
                                    color: rgb(255, 0, 0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}