---
layout: default
---

<div class="page-cover d-flex flex-column justify-content-center px-5 border-bottom">
  <img src="/assets/img/post-category-logos/{{ page.categories[0] }}-logo.svg"
    style="width: 200px; display: block; margin: 0 auto 30px;" alt="">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="tags">
    {% for tag in page.tags %}
    <div class="tag bg-color-{{ page.categories[0] }}">
      {{ tag }}
    </div>
    {% endfor %}
  </div>
  <div class="post-info">
    <span>
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d" }}
      {% case m %}
      {% when '1' %}Oca
      {% when '2' %}Şub
      {% when '3' %}Mar
      {% when '4' %}Nis
      {% when '5' %}May
      {% when '6' %}Haz
      {% when '7' %}Tem
      {% when '8' %}Ağu
      {% when '9' %}Eyl
      {% when '10' %}Eki
      {% when '11' %}Kas
      {% when '12' %}Ara
      {% endcase %}
      {{ page.date | date: "%Y" }}
    </span>
    <span>•</span>
    <span>
      Hayatınızdan gidecek süre: {% assign words = page.content | number_of_words %}
      {{ words | divided_by:180 }} dk
    </span>
  </div>
  <div class="post-author"></div>
  <div class="scroll-arrow">
    <div class="arrow"></div>
    <div class="arrow"></div>
    <div class="arrow"></div>
  </div>
</div>

<div class="page-content">
  {{ content }}
</div>