---
layout: default
---

<img src="{{ site.url }}/assets/img/logos/logo-{{ page.categories }}.png" width="200" style="margin: 0 auto 20px; display: block;">

<h1>{{page.title }}</h1>

<h6>
    {% assign m = page.date | date: "%-m" %}
    {{ page.date | date: "%-d" }}
    {% case m %}
    {% when '1' %}Oca
    {% when '2' %}Şub
    {% when '3' %}Mar
    {% when '4' %}Nis
    {% when '5' %}May
    {% when '6' %}Haz
    {% when '7' %}Tem
    {% when '8' %}Ağu
    {% when '9' %}Eyl
    {% when '10' %}Eki
    {% when '11' %}Kas
    {% when '12' %}Ara
    {% endcase %}
    {{ page.date | date: "%Y" }}
    - Hayatınızdan gidecek süre:
    {% assign words = page.content | number_of_words %}
    {{ words | divided_by:180 }} dk
</h6>

{{ content  }}

<hr class="three-dot">

<div class="author">
  <img src="/assets/img/icon.jpg" alt="010.png">
  <p>
  Bilginin zekatı paylaşmaktır diyerek yazımızı burada sonlandıralım. Maillerinize her zaman açığım. Olumlu yorumlar motive eder, olumsuzlar ise geliştirir. Bu yüzden hakaret içermeyen olumsuz yorumları da son derece önemsiyorum. Selametle.
  </p>
</div>