@tailwind base;
@tailwind components;
@tailwind utilities;

@import "normalize.css/normalize.css";
@import "@code-hike/mdx/dist/index.css";
@import "./mdx-styles.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Inter", sans-serif;

  @media (max-width: 640px) {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
}

p {
  @apply text-gray-600 dark:text-[#e0e0e0];
}

h1,
h2,
h3,
h4,
h5 {
  @apply text-black dark:text-white;
}
