.mdx-container {
  h2 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 64px;
    margin-bottom: 20px;

    @media (min-width: 640px) {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
  }

  p {
    margin-bottom: 20px;
  }

  a {
    word-break: break-all;
    font-weight: bold;
    color: rgba(29, 78, 216);
    border-bottom-width: 2px;
    border-color: transparent;
    overflow-wrap: break-word;
    margin-bottom: 15px;
    padding-bottom: 2px;

    &:hover {
      border-color: rgba(29, 78, 216);
    }
  }
}
