.mdx-container {
  h3 {
    @apply mt-8 mb-4 font-semibold text-lg md:text-xl text-gray-700;
  }

  a {
    @apply mb-3.5 font-bold break-all no-underline break-words border-b-2 text-[rgba(29,78,216)] border-[rgba(29,78,216)] dark:text-yellow-500 dark:border-yellow-500;

    &:hover {
      @apply text-[#0e35a1] border-[#0e35a1] dark:text-[rgba(234,179,8,0.6)] dark:border-[rgba(234,179,8,0.6)];
    }
  }

  img {
    @apply -mx-4 w-screen;
  }

  b,
  strong {
    @apply dark:text-white;
  }

  ul {
    @apply mb-5;

    ul {
      @apply pl-5 my-2;
    }

    li {
      @apply pl-0 mb-2 dark:text-[#e0e0e0];

      list-style-type: square;

      // &:before {
      //   @apply dark:bg-white;

      //   content: "";
      //   display: inline-block;
      //   margin-right: 6px;
      //   margin-bottom: 2px;
      //   height: 5px;
      //   width: 5px;
      //   background-color: black;
      //   border-radius: 50%;
      // }
    }
  }

  > p code,
  ul code,
  section > p > code,
  blockquote code {
    @apply bg-gray-200 dark:bg-[#e0e0e0] dark:text-[#121212] rounded-md px-2;
  }

  pre,
  code {
    font-family: "JetBrains Mono", monospace;

    > p {
      @apply w-fit my-0;
    }
  }

  blockquote {
    @apply my-5 -mx-4 py-5 px-6 sm:rounded-md overflow-hidden not-italic border-l-8 border-l-[#3984ff] bg-[#f5f7f9] dark:bg-[rgba(55,65,81,0.2)];

    ul {
      margin: 15px 0 0;
    }

    p {
      @apply before:content-none after:content-none m-0;
    }
  }

  .ch-editor-frame {
    height: auto !important;
    max-height: unset !important;
    height: max-content !important;

    .ch-editor-tab {
      width: fit-content !important;
    }
  }

  .ch-codegroup,
  .ch-codeblock {
    @apply rounded-none sm:rounded-md -mx-4 my-8;

    .dark\:ch-code-line-number {
      color: red !important;
    }

    div[data-ch-panel] {
      height: fit-content !important;
      overflow: unset !important;
      min-height: unset !important;

      & > div {
        height: fit-content !important;
      }
    }

    * {
      font-family: "JetBrains Mono", monospace;
    }
  }

  .ch-code-scroll-content {
    overflow: initial !important;

    div {
      div {
        padding-right: 10px;
        width: auto !important;
      }
    }

    .ch-code-bg-annotation {
      width: 100% !important;

      .ch-code-bg-annotation-border {
        display: none;
      }
    }
  }

  .ch-section-link {
    @apply text-[#2e3440] dark:text-current font-bold underline underline-offset-2 decoration-2 rounded-md dark:text-yellow-500 p-1;

    &[data-active="true"] {
      @apply dark:bg-gray-700;
    }
  }

  .ch-editor-tab-active {
    width: fit-content;
    max-width: 150px;
  }

  .warning-box {
    p {
      display: inline;
    }
  }
}
